<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color:#ffffff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="color-scheme" content="light only">
<meta name="supported-color-schemes" content="light only">
<meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no">
<!--[if !mso]><!-->
<meta name="x-apple-disable-message-reformatting">
<!--<![endif]-->
<title>DocSpot ~ Reset Password</title>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&display=swap" rel="stylesheet">
<style type="text/css">
* {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
a { text-decoration: none; }

:root {
  color-scheme: light only;
  supported-color-schemes: light only;
}

.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
body {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'DM Sans', sans-serif;
}
.border-radius-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
table { border-collapse: collapse; }

/* Force white background & prevent dark mode inversion across clients */
html, body {
    background-color: #ffffff !important;
    background-image: url('{{MAIN_URL}}/views/images/white-bg.png') !important;
    background-repeat: repeat !important;
}

[data-ogsc] body, [data-ogsc] table, [data-ogsc] td, [data-ogsc] div, [data-ogsc] span, [data-ogsc] p, [data-ogsc] a,
[data-ogsb] body, [data-ogsb] table, [data-ogsb] td, [data-ogsb] div, [data-ogsb] span, [data-ogsb] p, [data-ogsb] a {
    background-color: #ffffff !important;
    background-image: url('{{MAIN_URL}}/views/images/white-bg.png') !important;
}

[data-ogsc] .force-text, [data-ogsb] .force-text,
[data-ogsc] span, [data-ogsb] span,
[data-ogsc] p, [data-ogsb] p {
    color: #000000DE !important;
}

@media (prefers-color-scheme: dark) {
    html, body, table, td, div, .ReadMsgBody, .ExternalClass, .email-wrapper {
        background-color: #ffffff !important;
    }
    .force-text, span, p {
        color: #000000DE !important;
    }
}

/* Outlook.com / some webmail dark-mode hook */
u + .body .email-wrapper {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 640px) {
  body[yahoo] .deviceWidth { width: 440px !important; padding: 0; }
  body[yahoo] .center { text-align: center !important; }
}
@media only screen and (max-width: 479px) {
  body[yahoo] .deviceWidth { width: 280px !important; padding: 0; }
  body[yahoo] .dealtable { margin: 0 20px !important; }
  body[yahoo] .center { text-align: center !important; }
}
</style>
</head>
<body class="body" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" bgcolor="#ffffff"
  background="{{MAIN_URL}}/views/images/white-bg.png"
  style="font-family: 'DM Sans', sans-serif; font-weight: 400; padding: 0; background-color: #ffffff !important; background-image:url('{{MAIN_URL}}/views/images/white-bg.png'); background-repeat:repeat;">
  <div class="email-wrapper" bgcolor="#ffffff" background="{{MAIN_URL}}/views/images/white-bg.png" style="background-color:#ffffff !important; background-image:url('{{MAIN_URL}}/views/images/white-bg.png'); background-repeat:repeat; width:100%;">
  <center>
  <!-- Wrapper -->
  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
    background="{{MAIN_URL}}/views/images/white-bg.png"
    style="margin: 0 auto; min-width: 600px; background-color:#ffffff; background-image:url('{{MAIN_URL}}/views/images/white-bg.png'); background-repeat:repeat;">
    <tr>
      <td width="100%" valign="top" bgcolor="#ffffff" background="{{MAIN_URL}}/views/images/white-bg.png"
        style="padding: 0; font-family: 'DM Sans', sans-serif; font-weight: 400; background-color:#ffffff; background-image:url('{{MAIN_URL}}/views/images/white-bg.png'); background-repeat:repeat;">
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
          class="deviceWidth" bgcolor="#ffffff" style="margin: 0 auto; background-color:#ffffff;">
          <tr>
            <td style="padding: 0;" bgcolor="#ffffff">
              <table width="100%" border="0" cellpadding="0" cellspacing="0"
                align="center" class="deviceWidth" bgcolor="#ffffff" style="background-color:#ffffff;">
                <tr>
                  <td width="100%" style="background: #fff; background-color:#ffffff;" bgcolor="#ffffff">
                    <table width="100%" class="deviceWidth" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                      style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                      <tr>
                        <td style="padding: 0;" bgcolor="#ffffff">
                          <!-- Logo Top -->
                          <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                            style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                            <tr>
                              <td valign="top" bgcolor="#ffffff"
                                style="padding: 30px 30px 20px 30px; font-size: 13px; line-height: 16px;
                                  font-family: 'DM Sans', sans-serif; font-weight: 400;
                                  color: #000000DE; text-align: left; background-color:#ffffff;">
                                <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                  style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                                  <tr>
                                    <td valign="middle" bgcolor="#ffffff"
                                      style="padding: 0; font-size: 13px; line-height: 16px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #000000DE; text-align: left; background-color:#ffffff;">
                                      <a href="https://docspot.ooo/" target="_blank"
                                        style="border: none; outline: none; display: block; width: 146px; margin: 0;">
                                        <img width="113"
                                          style="max-width: 113px; line-height: 0; display: block;"
                                          border="0" src="{{MAIN_URL}}/views/images/doc-spot-logo.png" alt="">
                                      </a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <!-- Greeting -->
                          <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                            style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                            <tr>
                              <td valign="top" bgcolor="#ffffff" style="padding: 0 75px; text-align: center; background-color:#ffffff;">
                                <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                  style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff" style="padding-bottom: 15px; background-color:#ffffff;">
                                      <span class="force-text" style="font-size: 18px; font-family: 'DM Sans', sans-serif;
                                        font-weight: 700; color: #000000de; text-align: center; display: block;">
                                        Namaste!
                                      </span>
                                      <span style="color: #00A3EF; font-size: 18px; font-weight: 400;
                                        text-align: center; display: block;">
                                        {{name}}
                                      </span>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <!-- Reset Password Image -->
                            <tr>
                              <td valign="top" bgcolor="#ffffff" style="padding: 0; text-align: center; background-color:#ffffff;">
                                <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                  style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                                      <span style="display: block; width: 100%; padding: 0 0 15px 0;">
                                        <img width="100%" border="0" src="{{MAIN_URL}}/views/images/reset-password.png" alt="">
                                      </span>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <!-- Body Content -->
                            <tr>
                              <td valign="top" bgcolor="#ffffff" style="padding: 0 75px; text-align: center; background-color:#ffffff;">
                                <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                  style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                                  <!-- Heading -->
                                  <tr>
                                    <td valign="middle" align="center" class="force-text" bgcolor="#ffffff"
                                      style="padding-bottom: 40px; font-size: 21px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 700;
                                        color: #000000de; text-align: center; background-color:#ffffff;">
                                      Reset your password
                                    </td>
                                  </tr>
                                  <!-- Request message -->
                                  <tr>
                                    <td valign="middle" align="center" class="force-text" bgcolor="#ffffff"
                                      style="padding: 0; font-size: 15px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #000000DE; text-align: center; background-color:#ffffff;">
                                      We received a request to reset your password.
                                    </td>
                                  </tr>
                                  <!-- Instruction -->
                                  <tr>
                                    <td valign="middle" align="center" class="force-text" bgcolor="#ffffff"
                                      style="padding: 0 0 30px 0; font-size: 15px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #000000DE; text-align: center; background-color:#ffffff;">
                                      Click the button or link below to create a new one and continue using your account.
                                    </td>
                                  </tr>
                                  <!-- Reset Button -->
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff"
                                      style="padding: 0 0 16px 0; font-size: 15px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 700;
                                        color: #000000DE; text-align: center; background-color:#ffffff;">
                                      <a href="{{link}}" target="_blank"
                                        style="font-size: 15px; font-weight: 500; color: #FFFFFF;
                                          line-height: 18px; padding: 7px 24px; min-width: 100px;
                                          border-radius: 5px; background-color: #006DBC;
                                          margin: 0 auto; display: inline-flex;
                                          align-items: center; justify-content: center;">
                                        Reset Password
                                      </a>
                                    </td>
                                  </tr>
                                  <!-- Or -->
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff"
                                      style="padding: 0 0 16px; font-size: 15px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #C7C7C7; text-align: center; background-color:#ffffff;">
                                      Or
                                    </td>
                                  </tr>
                                  <!-- Direct Link -->
                                  <tr>
                                    <td valign="middle" align="center" class="force-text" bgcolor="#ffffff"
                                      style="padding: 0 0 20px 0; font-size: 15px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #000000DE; text-align: center; background-color:#ffffff;">
                                      Link :
                                      <a href="{{link}}" target="_blank"
                                        style="font-size: 14px; font-family: 'DM Sans', sans-serif;
                                          font-weight: 500; color: #006DBC; text-decoration: underline; word-break: break-all;">
                                       {{link}}
                                      </a>
                                    </td>
                                  </tr>
                                  <!-- Expiry note -->
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff"
                                      style="padding: 0 0 30px 0; font-size: 14px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #AFAFAF; text-align: center; background-color:#ffffff;">
                                      *For security reasons, this link will expire shortly.
                                    </td>
                                  </tr>
                                  <!-- Ignore note -->
                                  <tr>
                                    <td valign="middle" align="center" class="force-text" bgcolor="#ffffff"
                                      style="padding: 0 0 50px 0; font-size: 15px; line-height: 21px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #000000DE; text-align: center; background-color:#ffffff;">
                                      If you didn't request this change, you can safely ignore this email.
                                    </td>
                                  </tr>
                                  <!-- Contact us -->
                                  <tr>
                                    <td valign="middle" align="center" bgcolor="#ffffff"
                                      style="padding: 0 0 60px 0; font-size: 14px;
                                        font-family: 'DM Sans', sans-serif; font-weight: 400;
                                        color: #AFAFAF; text-align: center; background-color:#ffffff;">
                                        Need support? We’re happy to help.
                                      <a href="https://docspot.ooo/" target="_blank"
                                        style="color: #AFAFAF; text-decoration: underline; border: 0;">
                                        Contact us.
                                      </a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!-- End Body -->
                    <!-- Footer -->
                    <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                      style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                      <tr>
                        <td style="padding: 20px 30px 30px 30px;" bgcolor="#ffffff">
                          <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                            style="font-family: 'DM Sans', sans-serif; padding: 0; margin: 0; color: #000000DE; background-color:#ffffff;">
                            <tr>
                              <td valign="middle" class="force-text" bgcolor="#ffffff"
                                style="padding: 0; color: #000000DE; font-size: 15px; line-height: 20px;
                                  font-family: 'DM Sans', sans-serif; font-weight: 400; text-align: left; background-color:#ffffff;">
                                <a href="https://docspot.ooo/" target="_blank"
                                  style="border: none; outline: none; display: block; width: 146px; margin: 0;">
                                  <img width="113" style="max-width: 113px; display: block;"
                                    border="0" src="{{MAIN_URL}}/views/images/doc-spot-logo.png" alt="">
                                </a>
                              </td>
                              <td align="right" class="force-text" bgcolor="#ffffff"
                                style="font-family: 'DM Sans', sans-serif; font-weight: 400;
                                  font-size: 13px; color: #c7ccd0; padding: 0; text-align: right; background-color:#ffffff;">
                                <a href="{{unsubscribe_link}}" target="_blank"
                                  style="color: #000000DE; font-size: 12px; font-family: 'DM Sans', sans-serif;
                                    font-weight: 400; text-decoration: none; outline: none;">
                                  Unsubscribe
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" class="force-text" bgcolor="#ffffff"
                                style="font-family: 'DM Sans', sans-serif; font-weight: 400;
                                  font-size: 13px; color: #000000DE; padding: 20px 0 0 0; text-align: left; background-color:#ffffff;">
                                &copy; 2026 DocSpot
                              </td>
                              <td align="right" class="force-text" bgcolor="#ffffff"
                                style="font-family: 'DM Sans', sans-serif; font-weight: 400;
                                  font-size: 13px; color: #000000DE; padding: 20px 0 0 0; text-align: right; background-color:#ffffff;">
                                <a href="https://docspot.ooo/" target="_blank"
                                  style="color: #000000DE; font-size: 13px; font-family: 'DM Sans', sans-serif;
                                    font-weight: 400; text-decoration: none; outline: none;">
                                  docspot.ooo
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!-- End Footer -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- End Wrapper -->
  </center>
  <div style="display: none; white-space: nowrap; font: 15px courier; color: #ffffff;">
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  </div>
  </div>
</body>
</html>